@use "./general.scss" as *;

#footer{
  background-color: #5d365d;
  color:#ffffff;
  width:100%;
  height:auto !important;
  min-height:0;
  .wrapper {
    width:90%;
    margin:0 auto;
    display:flex;

    justify-content:space-between;
    align-items: center;
    text-align: center;


    //position : relative;
    .footer-logo {

      //bottom: 100px;

      width: 10%;
      height: auto;
      padding: 10px;
      text-align: center;
      z-index: 10;
      border-radius: 8px;
      animation: scale 3s ease-in-out forwards,
      rotate 3s ease-in-out forwards; /* Toutes les animations */
      transform-origin: center; /* Point d'origine de la transformation */
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      object {
        max-width: 120px;
        height: auto;
        margin: 0 auto;

      }
    }

    .footer-menu {
      align-items:start;
      ul{
        text-align:left;
        display:flex;
        flex-direction:column;

        text-transform:uppercase;
        li{
          list-style:none;

          a{
            color: inherit; // hérite de la couleur du parent, donc pas bleu
            text-decoration: none; // enlève le soulignement
            display: block; // rend chaque lien sur sa propre ligne (alternative à <br>)
            margin-bottom: 0.5rem; // espace entre les liens (optionnel)
          }
        }
      }
    }

    .footer-legal {
      text-align:left;
      font-size:0.9rem;
      opacity:0.8;
      text-transform:uppercase;
      a {
        color: inherit; // hérite de la couleur du parent, donc pas bleu
        text-decoration: none; // enlève le soulignement
        display: block; // rend chaque lien sur sa propre ligne (alternative à <br>)
        margin-bottom: 0.5rem; // espace entre les liens (optionnel)

      }

      p {

      }
    }

    .footer-social {

      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      backdrop-filter: blur(3px);
      z-index: 10;
      padding:2px;
      text-align:right;

      ul {
        list-style: none;
        display: flex;
        gap: 8px;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;

        li {
          display: inline-block;

          img {
            width: 25px;
            height: 25px;
            transition: transform 0.3s ease;
          }

          &:hover {
            transform: scale(1.1);
          }

        }
      }
    }

    .footer-logo-sign {
      text-align: center;
      width: 20%;
      height: 20%;
    }
    @media all and (max-width: 500px)
    {
    flex-direction: column;
    }
  }
};